{{{userStyle}}}
	<a href="{{profileUrl}}" target="_blank">
		<div class="profilepic chatpic img-circle" {{{msgStyle}}}></div>
	</a>
	<div class='message-content-wrapper'>
		<div class='message-content'><p>{{message}}</p>
			<a class="message-subtext" href="{{profileUrl}}" target="_blank">{{firstName}} {{lastInitial}}</a>
			<span class="message-subtext"> - {{timestamp}}</span>
		</div>
	</div>
</div>